@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
body {
	font-family: 'Inter', sans-serif;
	font-size: 16 px;
	font-weight: Black;
	color: #222222;
}